<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet</title>
</head>
<body>
<h1>Daily Planet</h1>
<h2>Please Submit your Article</h2>
<form action='/articles' method='post'>
	<input type='text' name='title' placeholder='Article Title'>
	<input type='text' name='author' placeholder='Author Name'>
	<input type='text' name='summary' placeholder='Summary'>
	<input type='text' name='pages' placeholder='# of Pages'>
	<input type='text' name='publisher' placeholder='Publisher'>
	<input type='submit' value='Submit'>
</form>
</body>
</html>